In [1]:
import pandas as pd

In [2]:
new = pd.read_json("new.json")
old = pd.read_json("old.json")

In [3]:
merged = old.merge(new, on="solar", how="outer", indicator=True)
merged

,solar,lunar_x,gzYear_x,gzMonth_x,gzDate_x,gzTime_x,lunar_y,gzYear_y,gzMonth_y,gzDate_y,gzTime_y,_merge
0,1910-01-01,11-20,己酉,丙子,丙寅,戊子,11-20,己酉,丙子,丙寅,戊子,both
1,1910-01-02,11-21,己酉,丙子,丁卯,庚子,11-21,己酉,丙子,丁卯,庚子,both
2,1910-01-03,11-22,己酉,丙子,戊辰,壬子,11-22,己酉,丙子,戊辰,壬子,both
3,1910-01-04,11-23,己酉,丙子,己巳,甲子,11-23,己酉,丙子,己巳,甲子,both
4,1910-01-05,11-24,己酉,丙子,庚午,丙子,11-24,己酉,丙子,庚午,丙子,both
...,...,...,...,...,...,...,...,...,...,...,...,...
47477,2039-12-27,11-12,己未,丙子,癸未,壬子,11-12,己未,丙子,癸未,壬子,both
47478,2039-12-28,11-13,己未,丙子,甲申,甲子,11-13,己未,丙子,甲申,甲子,both
47479,2039-12-29,11-14,己未,丙子,乙酉,丙子,11-14,己未,丙子,乙酉,丙子,both
47480,2039-12-30,11-15,己未,丙子,丙戌,戊子,11-15,己未,丙子,丙戌,戊子,both
47481,2039-12-31,11-16,己未,丙子,丁亥,庚子,11-16,己未,丙子,丁亥,庚子,both

In [4]:
merged[merged["_merge"] != "both"]

Empty DataFrame
Columns: [solar, lunar_x, gzYear_x, gzMonth_x, gzDate_x, gzTime_x, lunar_y, gzYear_y, gzMonth_y, gzDate_y, gzTime_y, _merge]
Index: []

In [5]:
cols = old.columns
merged["diff"] = ""
merged["same"] = True
for col in cols:
    if col == "solar": continue
    diff = merged[f"{col}_x"] != merged[f"{col}_y"]
    merged["diff"][diff] += f"{col};"
    merged["same"][diff] = False
merged

/tmp/ipykernel_3774/3371555357.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged["diff"][diff] += f"{col};"
/tmp/ipykernel_3774/3371555357.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged["same"][diff] = False
/tmp/ipykernel_3774/3371555357.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged["diff"][diff] += f"{col};"
/tmp/ipykernel_3774/3371555357.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged["same"][diff] = False
/tmp/ipykernel_3774/3371555357.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged["diff"][diff] += f"{col};"
/tmp/ipykernel_3774/3371555357.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged["same"][diff] = False
/tmp/ipykernel_3774/3371555357.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged["diff"][diff] += f"{col};"
/tmp/ipykernel_3774/3371555357.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged["same"][diff] = False
/tmp/ipykernel_3774/3371555357.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged["diff"][diff] += f"{col};"
/tmp/ipykernel_3774/3371555357.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged["same"][diff] = False

,solar,lunar_x,gzYear_x,gzMonth_x,gzDate_x,gzTime_x,lunar_y,gzYear_y,gzMonth_y,gzDate_y,gzTime_y,_merge,diff,same
0,1910-01-01,11-20,己酉,丙子,丙寅,戊子,11-20,己酉,丙子,丙寅,戊子,both,,True
1,1910-01-02,11-21,己酉,丙子,丁卯,庚子,11-21,己酉,丙子,丁卯,庚子,both,,True
2,1910-01-03,11-22,己酉,丙子,戊辰,壬子,11-22,己酉,丙子,戊辰,壬子,both,,True
3,1910-01-04,11-23,己酉,丙子,己巳,甲子,11-23,己酉,丙子,己巳,甲子,both,,True
4,1910-01-05,11-24,己酉,丙子,庚午,丙子,11-24,己酉,丙子,庚午,丙子,both,,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47477,2039-12-27,11-12,己未,丙子,癸未,壬子,11-12,己未,丙子,癸未,壬子,both,,True
47478,2039-12-28,11-13,己未,丙子,甲申,甲子,11-13,己未,丙子,甲申,甲子,both,,True
47479,2039-12-29,11-14,己未,丙子,乙酉,丙子,11-14,己未,丙子,乙酉,丙子,both,,True
47480,2039-12-30,11-15,己未,丙子,丙戌,戊子,11-15,己未,丙子,丙戌,戊子,both,,True
47481,2039-12-31,11-16,己未,丙子,丁亥,庚子,11-16,己未,丙子,丁亥,庚子,both,,True

In [6]:
merged[~merged["same"] ]

,solar,lunar_x,gzYear_x,gzMonth_x,gzDate_x,gzTime_x,lunar_y,gzYear_y,gzMonth_y,gzDate_y,gzTime_y,_merge,diff,same
8603,1933-07-22,06-01,癸酉,己未,己丑,甲子,05-30,癸酉,戊午,己丑,甲子,both,lunar;gzMonth;,False
8604,1933-07-23,06-02,癸酉,己未,庚寅,丙子,06-01,癸酉,己未,庚寅,丙子,both,lunar;,False
8605,1933-07-24,06-03,癸酉,己未,辛卯,戊子,06-02,癸酉,己未,辛卯,戊子,both,lunar;,False
8606,1933-07-25,06-04,癸酉,己未,壬辰,庚子,06-03,癸酉,己未,壬辰,庚子,both,lunar;,False
8607,1933-07-26,06-05,癸酉,己未,癸巳,壬子,06-04,癸酉,己未,癸巳,壬子,both,lunar;,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45276,2033-12-17,10-26,癸丑,癸亥,壬寅,庚子,11-26,癸丑,甲子,壬寅,庚子,both,lunar;gzMonth;,False
45277,2033-12-18,10-27,癸丑,癸亥,癸卯,壬子,11-27,癸丑,甲子,癸卯,壬子,both,lunar;gzMonth;,False
45278,2033-12-19,10-28,癸丑,癸亥,甲辰,甲子,11-28,癸丑,甲子,甲辰,甲子,both,lunar;gzMonth;,False
45279,2033-12-20,10-29,癸丑,癸亥,乙巳,丙子,11-29,癸丑,甲子,乙巳,丙子,both,lunar;gzMonth;,False
45280,2033-12-21,10-30,癸丑,癸亥,丙午,戊子,11-30,癸丑,甲子,丙午,戊子,both,lunar;gzMonth;,False

In [7]:
天干 = ["甲", "乙", "丙", "丁", "戊", "己", "庚", "辛", "壬", "癸"]
print(天干.index("癸"))

9

In [8]:
len(merged["gzMonth_x"].unique())

60

In [9]:
month=7
year_g_index=3

print((year_g_index * 12 + month + 1) % 10)

4

In [10]:
merged[merged["gzDate_x"] != merged["gzDate_y"]]

Empty DataFrame
Columns: [solar, lunar_x, gzYear_x, gzMonth_x, gzDate_x, gzTime_x, lunar_y, gzYear_y, gzMonth_y, gzDate_y, gzTime_y, _merge, diff, same]
Index: []